@import "bootstrap";

body{
  background-color: #d81b60;
  font-family: 'Lobster Two', cursive;
  color: #3A3335;
}

h1, h2, h3, h4, h5, h6 {
 color:  #390099;
}

.top-nav{
  background-color: white;
  padding-top: 15px;
  height: 70px;
  padding-top: 15px;
}

#brand {
  font-size: 30px;
  color: #3A3335;
}

.top-nav .add a {
  font-weight: bold;
  font-size: 16px;
  padding-left: 8px;
}

.top-nav .add {
  margin-top: 10px;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 20px;
}



.handle {
  font-weight: bold;
  font-size: 18px;
  color: #390099;
}



label {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

input {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.my-btn {
  background-color: #390099;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
  font-family: 'Raleway', sans-serif;
}

.gram-actions {
  margin-left: auto;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
}


.comment {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 10px;
}

.comment_handle {
  font-weight: bold;
  font-size: 12px;
  color: #d81b60;
}

.bubble{
  padding: 10px;
  background-color: #FFBF00;
  border-radius: 5px;
  margin:0px;
  max-width:250px;
}



.text{
  font-family: 'Raleway', sans-serif;
}

.alert{
  font-family: 'Raleway', sans-serif;
}


.spec {
  color: #390099;
  padding: 10px;
  border: 1px solid #FFBF00;
  border-radius: 5px;
  margin:2px;
}

.spec:hover{
  text-decoration: none;
  color: #FFBF00;
}

.spec:active{
  text-decoration: none;
  color: #FFBF00;
}

a{
  color: #FFBF00;
}

a:hover{
  text-decoration: none;
  color: #390099;
}

a:active{
  text-decoration: none;
  color: #390099;
}
