
<div class="grid">

  <div class="header">
    <h1>Grams</h1>
  </div>

  <div class="body">
    <% @gram.each do |gram| %>
      <div class="gram">
        <%= gram.message %>
      </div>
    <% end %>
  </div>

  <div class="footer">
    <div class="footer_text">this is my footer</div>
  </div>

</div>
