<h1>New Gram</h1>

<div class="page-border">
  <div class="row">
    <div class="col-sm-12">
      <%= simple_form_for @gram do |f| %>
        <%= f.input :message %>
        <%= f.input :image %>
        <%= f.submit "Post!" %>
      <% end %>
    </div>
  </div>

</div>
